/* This file is for your main application css. */

@import "./phoenix.css";

header nav ul {
  display: flex;
}

header nav li a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.8rem;
}
